<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
    <link href="../static/style.css" rel="stylesheet"  type="text/css">
   
</head>
<body>
    <div class="container">
   <h1>Welcome</h1>
   </div>
   <section class="enter">
        
    <form class="form" action="/" method="post">
        <input type="text" name="head" placeholder="Heading">
        <input type="text" name="desc" placeholder="Description">
        <input class="btn" type="submit" value="add">   
    </form>

   </section>
   <section class="display">
       <h1>Todays's task </h1>
        <div class="grid">
            <% for(let i of addNote){ %>
                <% if(i._id == id){ %>
            <div class="container-card">
                  
                  <form  action="/edit/<%= i._id %> " method="POST">
                    <input class="head" type="text" value="<%=i.head %> " name="head" placeholder="Heading" >
                    <input class="head" type="text" value="<%=i.desc %> " name="desc" placeholder="Description">
                    <input class="btn-1" type="submit" value="confirm"> 
                    <a href="/"><input type="submit" value="cancel" class="btn-1"></a> 
                 </form>
            </div>
                <% } else { %> 
                    <div class="container-card">
                  
                        <h3><%=i.head %> </h3>  
                         <p><b><%= i.desc %></b></p>
                         <a href="/edit/<%= i._id %>  ">
                         <input type="submit"id="edit" class="btn-1" value="edit">
                     </a>
                     <a href="/delete/<%=i._id  %>">
                         <input type="submit" id="del" class="btn-1" value="delete">
                     </a>
                     <% } %> 
                     </div>
                    
                     <% } %> 
           
        </div>
   </section>   
</body>
</html>
